html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-size: 1rem;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1 {
  font-size: 3.3125rem;
  line-height: 1.15em;
}
h2 {
  font-size: 2.25rem;
  line-height: 1.5em;
}
h3 {
  font-size: 1.5625rem;
  line-height: 1.4em;
}
h4 {
  font-size: 1.125rem;
  line-height: 1.5em;
}
h5 {
  font-size: 1.0625rem;
  line-height: 1.55em;
}
h6 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
}
p {
  font-size: 14px;
  margin: 0 0 10px;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
body {
  background-color: #e5e5e5;
  color: $black-color;
  margin: 0;
  font-size: 1rem;
  text-align: left;
}

legend {
  border-bottom: 0;
}

// Prevent highlight on mobile
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  &:focus {
    outline: 0;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  background-color: transparent;
  &:hover,
  &:focus {
    color: darken($link-color, 5%);
    text-decoration: none;
  }
}

label {
  font-size: 14px;
  line-height: 1.42857;
  color: $checkboxes-text-color;
  font-weight: 400;
}
small {
  font-size: 75%;
  color: #777;
  font-weight: 400;
}
img {
  vertical-align: middle;
  border-style: none;
}
form {
  margin-bottom: 1.125rem;
}


.jss1003 {
  margin: 0 0 20px;
  padding: 10px 20px;
  font-size: 1.25rem;
  border-left: 5px solid #eee;
}

.jss1001 {
  font-size: 14px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}



/*BEGIN ESTRING CUSTOM*/

.estring-e-img {
  width: 3.5rem;
}

.Header-white-21  {
  background-color: #673ab7e0;
}


.Header-appBar-6  {
  background-color: #673ab7e0;
}


/*For smaller displays - LANDING PAGE*/
.LandingPage-title-2-override{
  line-height: 1.10em;      

  color: #ff0099d6;
  margin: 1.75rem 0 0.875rem;
  display: inline-block;
  position: relative;
  
  //margin-top: 85px;  
  margin: 0px;
  font-size: 2.3rem;

  min-height: 32px;
  font-family: "Roboto", "Times New Roman", serif;
  font-weight: 300;
  text-decoration: none;
}

.LandingPage-title2-small{
  margin-top: 40px;
}

.LandingPage-subtitle-small{
  margin-top: 0px;
}

.LandingPage-title2-big-tm{
  color: cornflowerblue;
  font-weight: 200;
  font-size: 1rem;
}  

.LandingPage-title2-big-sm{
  font-weight: 100;
  font-size: 0.8rem;
}  

.LandingPage-title-outer-big{
  visibility: hidden; 
  display: none;
}
.LandingPage-title-outer-small{
  visibility: visible;  
  display: block;  
  margin-top: 8px;
}
.LandingPage-title2{
  font-size: 0.90rem;
  font-family: 'Josefin Sans', sans-serif;
}
/*END LANDING PAGE*/

@media(min-width: 375px){
  h1 {
    font-size: 2.6125rem;
    line-height: 1.15em;      
  }

  
}

/**For landscape*/
@media(min-width: 667px)  and  (min-height: 375px),
 (min-width: 640px)  and  (min-height: 360px) /*For Galaxy*/
 ,(min-width: 568px)  and  (min-height: 320px) /*For iphone 5/se*/
 {

  .LandingPage-title-2-override{
    line-height: 1.10em;      
  
    color: #ff0099d6;
    // margin: 1.75rem 0 0.875rem;
    display: inline-block;
    position: relative;
    
    //margin-top: 85px;  
    margin: 0px;
    font-size: 1.7rem;
  
    min-height: 32px;
    font-family: "Roboto", "Times New Roman", serif;
    font-weight: 300;
    text-decoration: none;
  }

  .LandingPage-title-outer-small{
    visibility: visible;  
    display: block;  
    margin-top: 0px;
  }

  .LandingPage-title2-small{
    margin-top: 15px;
  }

  .LandingPage-subtitle-small{
    margin-top: 0px;
    line-height: 1.0rem;
    max-width: 300px;
  }
  
}



/*For larger displays*/
@media(min-width: 563px)  and  (min-height: 440px){


  .LandingPage-title-2-override{
    line-height: 1.15em;      
  
    color: #ff0099d6;
    margin: 1.75rem 0 0.875rem;
    display: inline-block;
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    min-height: 32px;
     font-family: "Roboto Slab", "Times New Roman", serif;
    //font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 3.2rem;
    text-align: left;
  }

  .LandingPage-title2-big{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-align: left;
    font-size: 1.8em;
    line-height: 1em;
    margin-right: 30px;
    margin-left: 30px;
  }

  .LandingPage-title2-big-tm{
    color: cornflowerblue;
    font-weight: 500;
    font-size: 1.8rem;
  }  

  .LandingPage-title-outer-big{
    visibility: visible;
    display: block;
  }
  .LandingPage-title-outer-small{
    display:none;
    visibility: hidden;
  }
  

  
}



/**Overlay for wait progress indicator*/
.eocean-overlay{
  background-color: #e2169026;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


.eocean-progInner{
  margin-bottom: 235px;
  
}



